#stadium{
    height: 568px;
    width: 895px;
    position: relative;
    background-image: url(../images/stadium4.jpg);
    margin: 50px 0 0 360px ;
    background-repeat: no-repeat;
}
#field {
  width: 535px;
  height: 275px;
  margin: 140px 0 0 175px;
  position: absolute;
}
#slider {
    background-image: url(../images/bota2.png);
    top: 110px;
    left: 490px;
    width: 30px;
    height: 60px;
    position: absolute;
    background-size: cover;    
}
#goal {
  top: 100px;
  left: -20px;
  width: 30px;
  height: 80px;
  position: absolute;
  background-image: url(../images/goal.png);
  background-size: cover;  
}
.ball {
  top: 120px;
  left: 255px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url(../images/ball.jpg);
  background-size: cover;  
  position: absolute;
}

body {
  background-image: url(../images/marca.jpg);
  margin: 0px 0 0 0px ;
  background-repeat: no-repeat;
}
#marcador{
  font-size: 100px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  margin: -100px 0 0 -500px;
  font-weight : bold;
}

#gol{
  color: red;
  font-style: italic;
  margin: auto;
}

#gameOver{
  color: red;
  font-style: italic;
}

.hidde{
  display: none;
}

.show{
  display: block;
}

#button{
  background-color:rgba(255, 255, 255, 0.178);
  color: black;
  border-color: black;
  position: absolute;
  top: 100px;
  left: 180px;
  width: 200px;
  height: 80px;
  font-weight : bold;
  font-size: large;
}

#gif{
  background-image: url(../images/tenor.gif);
  background-repeat: no-repeat;
  margin: -100px 0 0 -500px;
  
}