{
    border: 5px solid red;
}
body {
    width: 95%;
    height: 600px;
    margin: auto auto;
    border: 5px solid yellow;
}

#container{
    height: 568px;
    width: 895px;
    position: relative;
    background-image: url(/images/stadium4.jpg);
    margin: auto auto;
} 
#campo {
    border: 5px solid green;
    width: 535px;
    height: 275px;
    margin: 140px 0 0 175px;
    position: absolute;
}
.ball{
    margin: 0 0 0 255px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
}
#barra{
    margin: 110px 0 0 490px;
    width: 30px;
    height: 60px;
    position: absolute;
}
#goal{
    margin: 100px 0 0 -25px;
    width: 30px;
    height: 70px;
    position: absolute;
}

#button{
    background-color: lightgreen;
    color: lightslategrey;
    position: absolute;
    margin-left: 0px;
}

