* {
    border: 5px solid red;
}
#container{
    height: 1000px;
    width: 900px;
   position: relative;
   background-image: url(/breakout-soccer/images/Stadium4.jpg) ;
} 

#campo {
    border: 5px solid green;
    width: 200px;
    height: 500px;
    margin-left: 30%;
    position: absolute;
    
}
#ball{
    border: 5px solid black;
    width: 10px;
    height: 10px;
    float: down;
    position: absolute;
}
#barra{
    border: 5px solid black;
    width: 10px;
    height: 5px;
    margin-left: 70%;
    position: absolute;
}
#goal{
    border: 5px solid black;
    width: 5px;
    height: 30px;
    margin-left: 0%;
    position: absolute;
}


body {
    width: 95%;
    height: 580px;
    margin: auto auto;
}
   